<h1>Editing philosopher</h1>

<%= render "form", admin_philosopher: @admin_philosopher %>

<br>

<div>
  <%= link_to "Show this philosopher", @admin_philosopher %> |
  <%= link_to "Back to philosophers", admin_philosophers_path %>
</div>
