<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Editing Philosopher</h1>

      <%= render "form", philosopher: @philosopher %>

      <div class="mt-3">
        <%= link_to "Back to Philosophers", philosophers_path, class: "mt-3 btn btn-secondary custom-btn" %>
      </div>
    </div>
  </div>
</div>
